<img src="/assets/images/{{ page.image }}" class="img-fluid rounded shadow">
<div class="container my-4">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="p-2 p-md-5 col">
          <div class="my-4">
              <h1 class="display-4 my-4">{{ page.title }}</h1>
              <p class="small text-muted">{{ page.date | date: "%F" }} • {{ page.author }}</p>
          </div>
          <p class="lead"> {{ page.lead }}</p>
          {{ content }}
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
