<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start py-3 border-bottom">
    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
      {% for item in site.data.navbar %}
      <li class="nav-item border rounded m-1">
        <a href="{{ item.es.url }}" class="nav-link d-flex">
          <i class="fa-solid {{ item.icon }} p-1"></i>
          <div class="ps-1 m-0 d-none d-md-block d-lg-block d-xl-block d-xxl-block">
            {{ item.es.name }}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </header>
</div>


<!-- <div class="container">
  <header class="d-flex justify-content-center py-3 border-bottom">
    <ul class="nav nav-pills">

      {% for item in site.data.navbar %}

      <li class="nav-item border rounded m-1">
        <a href="{{ item.es.url }}" class="nav-link">
          <i class="fa-solid {{ item.icon }} pe-2"></i>
          {{ item.es.name }}
        </a>
      </li>

      {% endfor %}

    </ul>
  </header>
</div> -->
